{% extends 'base.html' %}

{% block content %}
    {% include 'main/search.html' %}
    {% if not nothing_found %}
        <table class="table">
          <thead style="width:500px;">
            <tr>
              <th scope="col">Название</th>
              <th scope="col">Цена, р</th>
            </tr>
          </thead>
          <tbody>
           {% for phone in phones %}
                <tr>
                  <td style="width:800px;"><a href="{{ url_for('main.show_specs', phone_id=phone.id) }}"> {{ phone.name }} </a></td>
                  <td>
                      {% if phones[phone] %}
                        {{ phones[phone] }}
                      {% endif %}
                  </td>
                </tr>
           {% endfor %}
          </tbody>
        </table>
    {% else %}
        <br>
        <br>
        <div align="center">
            <img style="width:500px;" src="https://i.gyazo.com/f7cf40e4758b2d26cf1d223c024dae81.png" alt="">
        </div>
        <br>
        <br>
        <h5 align="center">Ничего не найдено :(</h5>
    {% endif %}
{% endblock %}








