{% extends 'base.html' %}

{% block content %}

{% include 'slider.html' %}
<br>
<br>
<table class="table">
    <tr>
        <th><h5>Общие характеристики</h5></th>
        <th></th>
    </tr>

    <tr>
        <td>Название</td>
        <td>{{ phone.name}}</td>
    </tr>
    {% if phone.os %}
    <tr>
        <td>ОС</td>
        <td>{{ phone.os }}</td>
    </tr>
    {% endif %}
    {% if phone.num_of_sims %}
    <tr>
        <td>Количество SIM-карт</td>
        <td>{{ phone.num_of_sims }}</td>
    </tr>
    {% endif %}
    {% if phone.sim_type %}
    <tr>
        <td>Тип SIM-карты</td>
        <td>{{ phone.sim_type }}</td>
    </tr>
    {% endif %}
    {% if phone.weight %}
    <tr>
        <td>Вес, г</td>
        <td>{{ phone.weight }}</td>
    </tr>
    {% endif %}
    {% if phone.size %}
    <tr>
        <td>Размер, мм</td>
        <td>{{ phone.size.replace(',','x') }}</td>
    </tr>
    {% endif %}


    <tr>
        <th><h5><br>Экран</h5></th>
        <th></th>
    </tr>

    {% if phone.screen_type %}
    <tr>
        <td>Тип экрана</td>
        <td>{{ phone.screen_type }}</td>
    </tr>
    {% endif %}
    {% if phone.screen_size %}
    <tr>
        <td>Размер экрана</td>
        <td>{{ phone.screen_size }}</td>
    </tr>
    {% endif %}
    {% if phone.resolution %}
    <tr>
        <td>Разрешение экрана</td>
        <td>{{ phone.resolution }}</td>
    </tr>
    {% endif %}
    {% if phone.PPI %}
    <tr>
        <td>PPI</td>
        <td>{{ phone.ppi }}</td>
    </tr>
    {% endif %}
    {% if phone.ips %}
    <tr>
        <td>IPS-экран</td>
        <td>{{ phone.ips }}</td>
    </tr>
    {% endif %}

    <tr>
        <th><h5><br>Мультимедиа</h5></th>
        <th></th>
    </tr>

    {% if phone.main_cam_resolution %}
    <tr>
        <td>Разрешение камеры</td>
        <td>{{ phone.main_cam_resolution }}</td>
    </tr>
    {% endif %}
    {% if phone.selfie_cam_resolution %}
    <tr>
        <td>Расширение фронтальной камеры</td>
        <td>{{ phone.selfie_cam_resolution }}</td>
    </tr>
    {% endif %}
    {% if phone.aperture %}
        <tr>
            <td>Диафрагма основной камеры</td>
            <td>{{ phone.aperture }}</td>
        </tr>
    {% endif %}
    {% if phone.selfie_aperture %}
        <tr>
            <td>Диафрагма фронтальной камеры</td>
            <td>{{ phone.selfie_aperture }}</td>
        </tr>
    {% endif %}
    {% if phone.flash %}
        <tr>
            <td>Вспышка</td>
            <td>{{ phone.flash }}</td>
        </tr>
    {% endif %}
    {% if phone.max_video_resolution %}
        <tr>
            <td>Максимальное разрешение видео</td>
            <td>{{ phone.max_video_resolution }}</td>
        </tr>
    {% endif %}
    {% if phone.selfie_cam %}
        <tr>
            <td>Максимальное разрешение видео с фронтальной камеры</td>
            <td>{{ phone.selfie_cam }}</td>
        </tr>
    {% endif %}
    {% if phone.audio_formats %}
        <tr>
            <td>Форматы аудио</td>
            <td>{{ phone.audio_formats }}</td>
        </tr>
    {% endif %}
    {% if phone.headphones_jack %}
        <tr>
            <td>Разъем для наушников</td>
            <td>{{ phone.headphones_jack }}</td>
        </tr>
    {% endif %}

    <tr>
        <th><h5><br>Связь</h5></th>
        <th></th>
    </tr>

    {% if phone.types %}
        <tr>
            <td>Стандарты сотовой связи</td>
            <td>{{ phone.types }}</td>
        </tr>
    {% endif %}
    {% if phone.bluetooth_version %}
        <tr>
            <td>Версия bluetooth</td>
            <td>{{ phone.bluetooth_version }}</td>
        </tr>
    {% endif %}

    <tr>
        <th><h5><br>Батарея</h5></th>
        <th></th>
    </tr>

    {% if phone.battery_capacity %}
        <tr>
            <td>Емкость аккмумулятора</td>
            <td>{{ phone.battery_capacity }}</td>
        </tr>
    {% endif %}
    {% if phone.charge_connector %}
        <tr>
            <td>Тим разъема для зарядки</td>
            <td>{{ phone.charge_connector }}</td>
        </tr>
    {% endif %}
    {% if phone.quick_charge %}
        <tr>
            <td>Функции зарядки и энергопотребления</td>
            <td>{{ phone.quick_charge }}</td>
        </tr>
    {% endif %}

    <tr>
        <th><h5><br>Память и процессор</h5></th>
        <th></th>
    </tr>

    {% if phone.processor %}
        <tr>
            <td>Процессор</td>
            <td>{{ phone.processor }}</td>
        </tr>
    {% endif %}
    {% if phone.processor_cores %}
        <tr>
            <td>Количество ядер</td>
            <td>{{ phone.processor_cores }}</td>
        </tr>
    {% endif %}
    {% if phone.gpu %}
        <tr>
            <td>Видеопроцессор</td>
            <td>{{ phone.gpu }}</td>
        </tr>
    {% endif %}
    {% if phone.ram %}
        <tr>
            <td>Объем оперативной памяти</td>
            <td>{{ phone.ram }}</td>
        </tr>
    {% endif %}
    {% if phone.sdcard_slot %}
        <tr>
            <td>Слот для SD-карты</td>
            <td>{{ phone.sdcard_slot }}</td>
        </tr>
    {% endif %}
</table>

{% if prices[0] %}
    <div style="padding-top:100px;padding-bottom:200px;">
        <table class="table">
            <tbody>
            <tr>
                <th></th>
                <th><h5>Магазин</h5></th>
                <th>Цена</th>
            </tr>
            {% for price in prices %}
                <tr>
                    <td style="max-width:20px;">
                        <img src="static/{{ price[0] }}.jpg" alt="" align="left" style="max-height:20px;">
                    </td>
                    <td><a href="{{ price[2] }}" target="_blank">{{ price[0] }}</a></td>
                    <td>{{ price[1] }} ₽</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}